@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h2>Shoe Splash</h2>
	</div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	<div class="col-md-12">
		<p> Shoe Splash is a young and vibrant company that aims to provide good quality branded products. Shoe Splash caters to the fashion needs of women across footwear.</p>

		At Shoe Splash we strive to achieve the highest level of “Customer Satisfaction” possible. Our cutting edge E-commerce platform, highly experienced buying team,
		agile warehouse systems and state of the art customer care centre provides customer with:
		<ul>
			<li>Broader selection of products
			<li>Superior buying experience
			<li>On-time delivery of products
			<li>Quick resolution of any concerns.
		</ul>
		<p>
			As the largest national retailer of sporting goods, footwear in Canada, we've got the tools to get people moving on the path to wellness.
			Our mission is to inspire every Canadian toward a fit, healthy and active lifestyle. Sport Chek believes that a healthy lifestyle can be adopted at any age, any level and
			within any activity. With this in mind, Sport Chek has joined forces with a number of organizations geared toward encouraging communities to be active.
		</p>
		<p>
			Our relationships with many national and regional amateur sports and active lifestyle organizations have helped us reach out to Canadians of all ages,
			at all levels. From grassroots sporting organizations aimed at getting kids involved in activity at an early age to our ties with national, amateur-level sporting organizations,
			Shoe splash is committed helping communities get active.
		</p>
		<p>
			Visit our Sponsorships and Community page to learn how Shoe splash is active in your community.
		</p>
		<p>
			For more information about Shoe splash and our parent company, visit www.fglsports.com.
		</p>
		<p> Shoe Splash is a young and vibrant company that aims to provide good quality branded products. Shoe Splash caters to the fashion needs of women across footwear.</p>
		<p>
			Shoe Splash we strive to achieve the highest level of “Customer Satisfaction” possible. Our cutting edge E-commerce platform, highly experienced buying team,
			agile warehouse systems and state of the art customer care centre provides customer.
		</p>
		<p>
			Our mission is to inspire every Canadian toward a fit, healthy and active lifestyle. Sport Chek believes that a healthy lifestyle can be adopted at any age, any level and
			within any activity. With this in mind, Sport Chek has joined forces with a number of organizations geared toward encouraging communities to be active.
		</p>
	</div>
</div>