@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shoe Splash</h1>
	<p class="lead">
		Shoe Splash is a young and vibrant company that aims to provide good quality branded products. Shoe Splash caters to the fashion needs of women across footwear.

		At Shoe Splash we strive to achieve the highest level of “Customer Satisfaction” possible. Our cutting edge E-commerce platform, highly experienced buying team,
		agile warehouse systems and state of the art customer care centre provides customer with:

		Broader selection of products
		Superior buying experience
		On-time delivery of products
		Quick resolution of any concerns.
	</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product</h2>
			<p>
				Our company is a young and vibrant company that aims to provide good quality branded products. It caters to the fashion needs of women across footwear, apparel, jewellery and accessories.
				There are products of various brands like:
				<ul>
					<li>PUMA
					<li>ADIDAS
					<li> JORDAN
					<li> NIKE
					<li>United Colors of Benetton etc
				</ul>
				The products are of high quality and durable. They are available at reasonable price.
			</p>
        <p><a class="btn btn-default" href="/Product/Index">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer</h2>
			<p>
				we strive to achieve the highest level of “Customer Satisfaction” possible. Our cutting edge E-commerce platform, highly experienced buying team, agile warehouse systems and state of the art customer care centre provides customer with:
				<ul>
					<li> Broader selection of products</li>
					<li>Superior buying experience</li>
					<li>On-time delivery of products</li>
					<li>Quick resolution of any concerns</li>
				</ul>
				We value our customer and their choice. We try to serve them with the best of we have. Customer satisfaction is our main goal.
			</p>
        <p><a class="btn btn-default" href="/Customer/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Order</h2>
			<p>
				You can view order summary and then proceed to place an order. <br> All the details of an order can be viewed here like product detail and shipment summary
				<br>If you have changed your mind, you can also cancel the order.<br> For more details please click on the link below
			</p>
        <p><a class="btn btn-default" href="/Order/Index">Learn more &raquo;</a></p>
    </div>
</div>